html {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    overflow-x: hidden;
}

body {
    width: 100%;
}

img {
    display: block;
    margin: auto;
    height: 8vh;
    margin-top: 8.5vh;
}

p {
    text-align: center;
    font-weight: 400;
    margin-top: 6vh;
    color: #63D691;
}

.info {
    width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 10vh;
}

input[type="text"] {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #353535;
}

::-webkit-input-placeholder {
    font-weight: 300;
    color: #BDBDBD; 
}

input:focus {
    outline: none;
}