html {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    overflow-x: hidden;
}

body {
    width: 100%;
}

img {
    display: block;
    margin: auto;
    height: 8vh;
    margin-top: 8.5vh;
}

p {
    text-align: center;
    font-weight: 400;
    margin-top: 6vh;
    color: #63D691;
}

p:nth-of-type(2) {
    font-weight: 300;
    margin-top: -2%;
    font-size: 12px;
}

.info {
    width: 58%;
    text-align: center;
    margin: auto;
    margin-top: 10vh;
    border-bottom: 1px solid #4F4F4F;
}

input[type="text"] {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #353535;
    border: 0;
}

::-webkit-input-placeholder {
    font-weight: 300;
    color: #BDBDBD; 
}

input:focus {
    outline: none;
}

button {
    display: block;
    margin: auto;
    margin-top: 20vh;
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(45deg, #32D2B9 , #93E44C);
    color: #fff;
    border-radius: 50px;
    padding: 11px 22px 8px;
}

button:focus {
    outline: none;
    border: none;
}