html {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    overflow-x: hidden;
    height: 100%;
}

body {
    width: 100%;
    margin: 0px; 
    padding: 0px
}

#mapindex {
    height: 100%;
}

.logo {
    display: block;
    margin: auto;
    height: 9vh;
    margin-top: 9vh;
}

p {
    text-align: center;
    font-weight: 400;
    margin-top: 4vh;
    color: #63D691;
}

p:nth-of-type(2) {
    font-weight: 300;
    margin-top: -1%;
    font-size: 12px;
}

#info {
    display: flex;
    flex-direction: column;
    width: 64%;
    text-align: center;
    margin: auto;
    margin-top: 6vh;
}

input[type="text"] {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #353535;
    border: 0;
    border-bottom: 1px solid #4F4F4F;
    margin-top: 12%;
}

input[list] {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #353535;
    border: 0;
    border-bottom: 1px solid #4F4F4F;
    margin-top: 12%;
    background-image: url("img/search.png");
    background-size: 1.9vh;
    background-position: 96% 50%;
    background-repeat: no-repeat;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

::-webkit-input-placeholder {
    font-weight: 300;
    color: #BDBDBD; 
}

input:focus{
    outline: none;
}

#size, #fitness {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-align-last: center;
    color: #353535;
    border: none;
    background: #fff;
    border-radius: 0;
    -webkit-appearance: none;
    border-bottom: 1px solid #4F4F4F;
    background-image: url("img/dropdown.png");
    background-size: 1.6vh;
    background-position: 96% 50%;
    background-repeat: no-repeat;
    margin-top: 12%;
}

select:focus {
    outline:none;
}

input[type="submit"] {
    display: block;
    margin: auto;
    margin-top: 12vh;
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(45deg, #32D2B9 , #93E44C);
    color: #fff;
    border-radius: 50px;
    padding: 11px 22px 8px;
    border: 0;
}

input[type="submit"]:focus {
    outline: none;
}

h1 {
    text-align: center;
    color: #63D691;
    font-weight: 400;
    width: 75%;
    margin: auto;
    margin-top: 5vh;
}

#smlResults, #medResults, #lrgResults {
    width: 75%;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 8vh;
}

#smlResults > div, #medResults > div, #lrgResults > div {
    color: #353535;
    font-weight: 400;
    box-shadow: 0px 0px 18px #e9e9e9; 
    padding: 8% 2% 8% 6%;
    border-radius: 14px;
    margin-top: 4vh;
}

a {
    text-decoration: none;
}

#map {
    margin: auto;
    margin-top: 5vh;
    width: 65%;
    height: 50%;
}

#rating {
    display: flex;
    justify-content: flex-start;
    width: 65%;
    margin: auto;
    margin-top: 4vh;
}

#rating > div > h5 {
    margin: 0;
    margin-top: 10%;
}

#stars {
    margin-left: 10%;
    height: 18px;
}

#description {
    margin-bottom: 14vh;
}

.description {
    width: 65%;
    margin: auto;
    margin-top: 2vh;
    color: #353535;
    text-align: left;
    font-weight: 300;
    font-size: 12px;
}

#description > h5 {
    width: 65%;
    margin: auto;
    padding: 4vh 0px 1.4vh;
}
footer {
    display: flex;
    background: #fff;
    height: 20vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-attachment: scroll;
}

footer > div {
    margin: auto;
}

footer > div > img {
    margin: 0;
    height: 4.5vh;
}

#paws {
    height: 5.5vh;
}
/*
.track {
    width: 80%;
    margin: auto;
    padding: 2px;
    border-radius: 14px;
    box-shadow: 0px 0px 18px #e9e9e9; 
}

.track > p {
    color: #353535;
    font-weight: 300;
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
}
*/